{{!-- app/templates/components/login-form.hbs --}}
<form {{on "submit" this.login}}>
  <h2>Login</h2>
  
  <label for="username">Username:</label>
  <input type="text" id="username" placeholder="Enter your username">

  <label for="password">Password:</label>
  <input type="password" id="password" placeholder="Enter your password">

  <button class="btn btn-info" type="submit">
    <i class="fa fa-sign-in mr-1"></i>
    Login
  </button>
  
  <p class="signup-link">
    Don't have an account? <LinkTo @route="signup-form">Sign Up Here</LinkTo>
  </p>
</form>
