<div class="profile-container">
    <div class="profile-header">
        <h1>{{@user.name}}</h1>
    </div>
    <div class="profile-details">
        <div class="detail">
            <h2>Email</h2>
            <p>{{@user.email}}</p>
        </div>
        <div class="detail">
            <h2>Mobile</h2>
            <p>{{@user.mobilenumber}}</p>
        </div>
    </div>
       <div class="profile-actions">
        <button class="view-orders-btn" type="button">View Orders</button>
    </div>
</div>
